@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .animate-bounce-slow {
    animation: bounce 3s infinite;
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  .no-invert,
  .no-invert img,
  .no-invert > img {
    filter: none !important;
    -webkit-filter: none !important;
    mix-blend-mode: normal !important;
    color-scheme: only light !important;
  }
  
  /* Force no inversion in dark mode and Opera GX */
  @media (prefers-color-scheme: dark) {
    .no-invert,
    .no-invert img,
    .no-invert > img,
    img.no-invert {
      filter: none !important;
      -webkit-filter: none !important;
      mix-blend-mode: normal !important;
      color-scheme: only light !important;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .bg-radial-gradient {
    background: radial-gradient(circle at center, var(--tw-gradient-stops));
  }
  
  .border-3 {
    border-width: 3px;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
